body{
    background: rgb(33, 33, 153);
    font: normal 16pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: black;
}

select#flista{
    width: 230px;
}

footer{
    color: white;
    font: normal 10pt Arial;
    text-align: center;
    font-style: italic;
}